/* Barra de navegacion */

.header {
    background-color: #fff;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
  }
  
  .logo {
      font-size: 25px;
      font-weight: bold;
      padding: 0 50px;
      line-height: 80px;
    }
  
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    color: $hover;
    transition: 0.10s;
  }
  
  
  
  /* Banner */ 
  
  .banner{
      background-position: center;
      background-image: url(../imagenes/fondo2prueba.jpg);
      background-size: cover;
      height: 900px;
  
  }
  
  .banner-body{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      color: #fff;
      font-family: 'poppinsregular';
      text-align: center;
      font-size: 2rem;

      p{
        font-family: 'Dancing Script', cursive;
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-size: 4rem;
      }
  }
  
  .texto-banner {
      font-size: 10rem;
      font-family: 'Dancing Script', cursive;
      font-family: 'Edu VIC WA NT Beginner', cursive;
      font-weight: bold;
      
  }
  
  